a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 136px;
  font-family: 'Noto_Sans_KR';
  background-color: #fdfaff;
}

.navbar_logo {
  font-size: 30px;
  font-family: 'Noto_Sans_KR_Bold';
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

.navbar_menu li {
  padding: 8px 30px;
}

.main_body {
  display: flex;
  height: 940px;
  justify-content: center;
  background-color: #fdfaff;
}

.main_footer {
  text-align: right;
}
